<tr>
  <td><%= link_to cruise.name, cruise %></td>
  <td>
    <%= cruise.last_price %> €
  </td>
  <td>
    <%- if cruise.is_cheaper() %>
        <span class="label success">Billiger</span>
    <%- elsif cruise.is_more_expensive() %>
        <span class="label warning">Teurer</span>
    <%- end %>
  </td>
</tr>
