<tr>
  <td><%= link_to cruise.name, cruise %></td>
  <td>
      <%-if cruise.has_price %>
        <%= cruise.last_price %> €
      <%- end %>
  </td>
  <td>
    <%-if cruise.has_price %>
        <%- if cruise.is_cheaper() %>
            <span class="label success">Billiger</span>
        <%- elsif cruise.is_more_expensive() %>
            <span class="label warning">Teurer</span>
        <%- end %>
    <%- end %>
  </td>
</tr>
