<%- content_for :page_header do %>
    <h1>Übersicht <small>Alle Kreuzfahrten im Überblick</small></h1>
<%- end %>

<table cellpadding="5" cellspacing="5" border="1">
  <thead>
      <tr>
        <%= sortable "name" %>
        <%= sortable "last_price", "Preis" %>
        <%= sortable "status" %>
      </tr>
  </thead>

    <%= render @cruises %>
</table>
